/*
Default puzzle styling
*/
.crosswordtable { 
    border-collapse: collapse; 
    border-spacing: 0;
    width: auto;
    max-width: 100%;
}
.crosswordtable tr{
    width: 100%;
}
.crosswordtable td {
    width: 3em;
    height: 3em;
    border: 1px solid #333;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
    border-radius: 0px;
}
        
.crosswinput {
    width: 100% !important;
    height: 100% !important;
    padding: 0em !important;
    border: none !important;
    text-align: center !important;
    font-size: 2em !important;
    color: #666 !important;
    background-color: #f4f4f4 !important;
    margin-bottom: 0px !important;
}

.crosswordtable td input:focus {
    background-color: #fff;
}

.crosswordtable td span {
    color: #444;
    font-size: 0.9em;
    position: absolute;
    top: -1px;
    left: 1px;
}

input.done {
    font-weight: bold;
    color: green;
}

.active,
.clues-active {
    background-color: #bbd !important;
}
.clue-done {
    color: #999;
    text-decoration: line-through;
}

#puzzle-wrapper {
    font: 62.5%/1.3em Helvetica, sans-serif !important;
    margin: 10px auto !important;

    float: left !important;
    width: 54% !important;
    margin-right: 3% !important;
    margin-left: 10px !important;
}
#puzzle-clues {
    font: 62.5%/1.3em Helvetica, sans-serif;
    margin: 10px auto;

    float: left;
    width: 40%;
}

#puzzle-clues h2{
    font-size: 2em;
    margin: .3em;
    font-weight: bold;
}

#puzzle-clues li{
    font-size: 1.2em;
    margin: .3em;
    line-height: 1.6em;
}

li.nonumber {
    list-style-type: none;
}
